body {
  background: linear-gradient(90deg, #d4d4d4, #ffffff);
}

.header {
  text-decoration: none;
  text-align: center;
  font-family: 'Kaushan Script';
  font-size: 30px;
  background:linear-gradient(90deg, #ffffff, #d4d4d4);
  padding-top: 5px;
  padding-bottom: 5px;
  color: #808080;
}

.header a h1 {
  font-weight: 100;
  font-family: 'Kaushan Script';
}

.content .left {
  float: left;
  width: 40%;
}

.content .right {
  float: right;
  width: 40%;
}
